<!DOCTYPE html>
<html>
<head>
  <title>YourAppName</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_tag 'application' %>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
    
    <h1 class="mb-4">Turmas</h1>

    <div id="classrooms" class="row">
      <% @classrooms.each do |classroom| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= classroom.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Professor: <%= classroom.author.name %></h6>
              <%= link_to "Ver Atividades", classroom_tasks_path(classroom), class: "btn btn-primary" %>
              <% if current_user.id == classroom.author_id %>
                <%= link_to "Editar Turma", classroom_path(classroom), class: "btn btn-info" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if current_user.user_type == 'Professor' %>
      <%= link_to "Nova Turma", new_classroom_path, class: "btn btn-success mt-4" %>
    <%end%>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
