<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= task.author_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= task.classroom_id %>
  </p>

</div>
