<!DOCTYPE html>
<html>
<head>
  <title>YourAppName</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_tag 'application' %>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>

    <h1 class="mb-4">Textos</h1>
    <div id="tasks" class="row">
      <% @tasks.each do |task| %>
        <div class="col-md-4 mb-4 d-flex">
          <div class="card h-100 w-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= task.title %></h5>

              <% if current_user.user_type != 'Professor' %>
                <h6 class="task <%= task_progress_class(@task_id_progress[task.id] || 0) %>">
                  Seu progresso: <%= @task_id_progress[task.id] || 0 %>%
                </h6>
                <p class="card-text">
                  <%= progress_text(current_user.grade_level, task.grade_level) %><%= Task::TRANSLATED_GRADES[task.grade_level] %>
                </p>
                <div class="mt-auto">
                  <%= link_to "Ver Texto", classroom_task_path(@classroom, task), class: "btn btn-primary" %>
                </div>
              <% else %>
                <div class="mb-3 mt-auto">
                  <%= link_to "Ver Progresso dos Alunos", classroom_task_students_progress_path(@classroom, task), class: "btn btn-info mb-2" %><br>
                  <%= link_to "Editar Texto", edit_classroom_task_path(@classroom, task), class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if current_user.user_type == 'Professor' %>
      <%= link_to "Criar Texto", new_classroom_task_path(@classroom), data: { turbolinks: false }, class: "btn btn-success mt-4" %>
    <%end%>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
