<%= link_to 'Textos', classroom_tasks_path(@classroom), class: 'btn btn-secondary mt-3' %>
<h1>Feedbacks</h1>
<button class="info-button">
  <h4>Soma dos feedbacks: <%= @feedbacks.pluck(:avaliation).sum %></h4>
  <div class="tooltip">
  Quanto mais alta a nota mais dificil os alunos acharam o texto.<br>
  Acima do Nível: +1<br>
  Adequado: 0<br>
  Abaixo do Nível: -1     
  </div>
</button>
<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Feedback</th>
      <th>Comentário</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.user.name %></td>
        <td><%= feedback.note %></td>
        <td><%= feedback.comment %></td>
        <td><%= feedback.created_at.in_time_zone('America/Sao_Paulo').strftime('%d-%m-%Y %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>